@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *:not(a) {
    @apply transition-colors duration-150;
  }
  * {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
@layer utilities {
  .light-gradient {
    background: linear-gradient(
      90deg,
      rgba(233, 239, 250, 1) 50%,
      rgba(233, 239, 250, 1) 100%
    );
  }
  .dark .dark-gradient {
    background: linear-gradient(
      90deg,
      rgba(43, 44, 55, 1) 50%,
      rgba(43, 44, 55, 1) 100%
    );
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 100%;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* HTML: <div class="loader"></div> */
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 30px;
    aspect-ratio: 1;
    background: #A8A4FF;
    display: grid;
    transform-origin: top right;
    animation: l6-0 1s infinite linear;
    margin: 10rem auto;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    background: #635FC7;
    transform-origin: inherit;
    animation: inherit;
    animation-name: l6-1;
  }
  .loader::after {
    background: #746eff;
    --s: 180deg;
  }
  @keyframes l6-0 {
    70%,
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes l6-1 {
    30% {
      transform: rotate(var(--s, 90deg));
    }
    70% {
      transform: rotate(0);
    }
  }
}
